@use "./base.scss";

// put your custom CSS here!
// Custom styles for colored italics and bold
.italic {
    font-style: italic;
    color: #e1625f; // Gray color for italics
}

.bold {
    font-weight: bold;
    color: #f17f6a; // Blue color for bold
}

// Custom styles for different tiers of headings
h1 {
    color: #1BB85D; // Blue for h1
}

h2 {
    color: #18C764; // Teal for h2
}

h3 {
    color: #13D66A; // Orange for h3
}

h4 {
    color: #0FE472; // Purple for h4
}

h5 {
    color: #0CF279; // Green for h5
}

h6 {
    color: #d0021b; // Red for h6
}